* {
    font-family: 'Times New Roman', Times, serif;
}
a {
    text-decoration: none !important;
}
.notyf-success{
    background-color: green !important;
}
.notyf-error{
    background-color: red !important;
}